<nav class="nav-container" [ngClass]="modeClass">
  <a matButton href="#">Dashboard</a>
  <a matButton href="#">Settings</a>
  <a matButton href="#">Profile</a>

  <button matIconButton [matMenuTriggerFor]="menu" aria-label="Settings menu">
    <mat-icon fontIcon="settings"/>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="toggleTheme()">
      <mat-icon [fontIcon]="themeIcon()"/>
      <span aria-label="Toggle theme">@if (themeIcon() === 'dark_mode') { Dark Mode } @else { Light Mode }</span>
    </button>
    <button mat-menu-item (click)="toggleHighContrast()">
      <mat-icon fontIcon="contrast"/>
      <span>{{contrastText()}}</span>
    </button>
  </mat-menu>
</nav>
