<!--<ul>-->
<!--  @for (item of listData; track item) {-->
<!--    <li>-->
<!--      <a href="#"><strong>Item {{ $index + 1 }}:</strong> {{ item }}</a>-->
<!--    </li>-->
<!--  }-->
<!--</ul>-->

@if (data()) {
  @if (items().length > 0) {
    <ul>
      @for (item of items(); track item) {
        <li>
          <a href="#"><strong>{{ item }}</strong></a>
        </li>
      }
    </ul>
  } @else {
    <p>No items found in the list.</p>
  }
} @else {
  <p>No data configuration provided for the drawer.</p>
}
