:host {
  display: block;
  padding: 16px;
}

.divider-space {
  margin-block: 2rem;
}
section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
mat-slider {
  width: 300px;
}
mat-form-field {
  margin-right: 12px;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.example-form-field {
  width: 100%;
}

.demo-section + .demo-section {
  margin-top: 16px;
}

.table-1 {
  table {
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row {
    cursor: pointer;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    grid-template-columns: 100%;
    transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .example-element-detail-wrapper-expanded {
    grid-template-rows: 1fr;
  }

  .example-element-detail {
    display: flex;
    min-height: 0;
  }

  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

  .example-toggle-button {
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .example-toggle-button-expanded {
    transform: rotate(180deg);
  }
}

.table-2 {
  .example-container {
    height: 400px;
    overflow: auto;
  }

  .mat-mdc-table-sticky {
    background: #59abfd;
    opacity: 1;
  }

  .example-sticky-toggle-group {
    margin: 8px;
  }

  .mat-column-filler {
    padding: 0 8px;
    font-size: 10px;
    text-align: center;
  }

  .mat-mdc-header-cell, .mat-mdc-footer-cell, .mat-mdc-cell {
    min-width: 80px;
    box-sizing: border-box;
  }

  .mat-mdc-header-row, .mat-mdc-footer-row, .mat-mdc-row {
    min-width: 1920px; /* 24 columns, 80px each */
  }

  .mat-mdc-table-sticky-border-elem-top {
    border-bottom: 2px solid midnightblue;
  }

  .mat-mdc-table-sticky-border-elem-right {
    border-left: 2px solid midnightblue;
  }

  .mat-mdc-table-sticky-border-elem-bottom {
    border-top: 2px solid midnightblue;
  }

  .mat-mdc-table-sticky-border-elem-left {
    border-right: 2px solid midnightblue;
  }
}
