:host {
  display: block;
  padding: 16px;
}

.divider-space {
  margin-block: 2rem;
}
section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
mat-slider {
  width: 300px;
}
mat-form-field {
  margin-right: 12px;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
