:host {
  padding: 0;
  margin: 0;
}

.container-wrapper {
  //margin-top: -50px;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &:has(.image-wrapper:hover) .rock img:nth-child(1) {
    transform: translateX(-50%) translateY(50px);
  }

  &:has(.image-wrapper:hover) .rock img:nth-child(2) {
    transform: translateX(-100px) translateY(100px);
  }

  &:has(.image-wrapper:hover) .rock img:nth-child(3) {
    transform: translateX(100px) translateY(100px);
  }
}

.image-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  //bottom: 170px;
  bottom: 33%;
  z-index: 2;
  //width: 500px;
  transition: 0.7s;

  .pic {
    position: absolute;
    bottom: 0;
    left: calc(50%);
    transform: translateX(-50%);
    border-radius: 50%;
  }

  /* Hover states for the product container and its children */
  &:hover {
    bottom: 300px;
  }

  &:hover .pic:nth-child(2) {
    opacity: 1;
    --left: 500px;
  }

  &:hover .pic:nth-child(1) {
    opacity: 0;
    --left: 500px;
  }
}

.pic {
  --left: 0px;
  background: var(--url) var(--left), url(/images/dragon-ball.png) 0 0;
  background-size: auto 100%;
  width: 500px;
  //aspect-ratio: 2 / 4;
  aspect-ratio: 2 / 2;
  background-blend-mode: multiply;
  transition: 0.8s;
  mask-image: url(/images/dragon-ball.png);
  mask-size: auto 100%;

  &:nth-child(2) {
    opacity: 0;
  }
}

/* Media Queries are placed at the root level of the element they modify to remain valid standard CSS nesting */
@media screen and (max-width: 1023px) {
  .pic {
    width: 400px;
  }
}

@media screen and (max-width: 767px) {
  .pic {
    width: 250px;
  }
}

