.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: .9;
  pointer-events: none; // Overlay is invisible and doesn't block clicks when closed
  transition: opacity 0.3s ease;
  z-index: 1000;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }
}

.drawer-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px; /* This is the default width. Adjust width as needed in the drawerService.open() call. */
  background-color: var(--mat-sys-outline-variant);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); /* Start off-screen to the right */
  transition: transform 0.3s ease;
  z-index: 1001;
  display: flex;
  flex-direction: column;

  &.open {
    transform: translateX(0); /* Slide in */
  }
}

.drawer-content {
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
