@use '@angular/material' as mat;
@use './styles/material-theme/_theme-colors' as colors;

@include mat.core();

// Light Theme Definition
$light-config: (
  color: (
    theme-type: light,
    primary: colors.$primary-palette,
    tertiary: colors.$tertiary-palette
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    use-system-variables: true
  )
);

// Dark Theme Definition
$dark-config: (
  color: (
    theme-type: dark,
    primary: colors.$primary-palette,
    tertiary: colors.$tertiary-palette
  )
);

// Apply themes based on your body classes
body.light {
  // Use mat.theme to emit ALL system and component tokens
  @include mat.theme($light-config);
  color-scheme: light;
}

body.dark {
  @include mat.theme($dark-config);
  color-scheme: dark;
}

// Global defaults for body
body {
  margin: 0;
  min-height: 100dvh;
  // These variables will now update automatically when the class changes
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
  font: var(--mat-sys-body-medium);
  transition: background-color 0.3s, color 0.3s; // Smooth transition
}

.mat-icon.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
}
