.dark-medium-contrast {
  /* Primary & Accents */
  --md-sys-color-primary: oklch(86.9% 0.057 250.04);
  --md-sys-color-surface-tint: oklch(79.79% 0.086 250.05);
  --md-sys-color-on-primary: oklch(21.43% 0.085 250.01);
  --md-sys-color-primary-container: oklch(61.3% 0.076 251.27);
  --md-sys-color-on-primary-container: oklch(0% 0 0);

  /* Secondary */
  --md-sys-color-secondary: oklch(87.52% 0.03 246.36);
  --md-sys-color-on-secondary: oklch(23.77% 0.031 246.22);
  --md-sys-color-secondary-container: oklch(62.3% 0.029 246.34);
  --md-sys-color-on-secondary-container: oklch(0% 0 0);

  /* Tertiary */
  --md-sys-color-tertiary: oklch(87.26% 0.049 276.43);
  --md-sys-color-on-tertiary: oklch(21.72% 0.084 278.43);
  --md-sys-color-tertiary-container: oklch(60.91% 0.072 276.99);
  --md-sys-color-on-tertiary-container: oklch(0% 0 0);

  /* Error */
  --md-sys-color-error: oklch(88.24% 0.055 31.06);
  --md-sys-color-on-error: oklch(21.21% 0.117 28.5);
  --md-sys-color-error-container: oklch(62.48% 0.19 28.59);
  --md-sys-color-on-error-container: oklch(0% 0 0);

  /* Background & Surface */
  --md-sys-color-background: oklch(13.43% 0.015 253.94);
  --md-sys-color-on-background: oklch(90.15% 0.007 253.11);
  --md-sys-color-surface: oklch(13.43% 0.015 253.94);
  --md-sys-color-on-surface: oklch(100% 0 0);
  --md-sys-color-surface-variant: oklch(36.19% 0.012 254.5);
  --md-sys-color-on-surface-variant: oklch(88.01% 0.01 254.34);
  --md-sys-color-outline: oklch(73.57% 0.009 254.19);
  --md-sys-color-outline-variant: oklch(62.08% 0.008 254.58);
  --md-sys-color-shadow: oklch(0% 0 0);
  --md-sys-color-scrim: oklch(0% 0 0);

  /* Inverse */
  --md-sys-color-inverse-surface: oklch(90.15% 0.007 253.11);
  --md-sys-color-inverse-on-surface: oklch(23.47% 0.013 254.26);
  --md-sys-color-inverse-primary: oklch(36.21% 0.081 251.29);

  /* Fixed Colors */
  --md-sys-color-primary-fixed: oklch(89.34% 0.043 249.71);
  --md-sys-color-on-primary-fixed: oklch(12.33% 0.055 251.81);
  --md-sys-color-primary-fixed-dim: oklch(79.79% 0.086 250.05);
  --md-sys-color-on-primary-fixed-variant: oklch(28.6% 0.085 249.8);
  --md-sys-color-secondary-fixed: oklch(89.5% 0.03 246.39);
  --md-sys-color-on-secondary-fixed: oklch(12.18% 0.035 245.9);
  --md-sys-color-secondary-fixed-dim: oklch(80.57% 0.03 246.34);
  --md-sys-color-on-secondary-fixed-variant: oklch(30.04% 0.03 246.22);
  --md-sys-color-tertiary-fixed: oklch(89.57% 0.044 276.55);
  --md-sys-color-on-tertiary-fixed: oklch(11.23% 0.074 278.07);
  --md-sys-color-tertiary-fixed-dim: oklch(79.6% 0.076 276.54);
  --md-sys-color-on-tertiary-fixed-variant: oklch(28.32% 0.079 277.16);

  /* Containers & Dimming */
  --md-sys-color-surface-dim: oklch(13.43% 0.015 253.94);
  --md-sys-color-surface-bright: oklch(32.74% 0.011 254.43);
  --md-sys-color-surface-container-lowest: oklch(8.29% 0.016 252.12);
  --md-sys-color-surface-container-low: oklch(18.27% 0.014 254.14);
  --md-sys-color-surface-container: oklch(22.42% 0.013 254.23);
  --md-sys-color-surface-container-high: oklch(26.97% 0.012 254.3);
  --md-sys-color-surface-container-highest: oklch(31.64% 0.012 254.41);
}
