.dark-high-contrast {
  /* Primary & Accents */
  --md-sys-color-primary: oklch(94.2% 0.024 250.7);
  --md-sys-color-surface-tint: oklch(79.79% 0.086 250.05);
  --md-sys-color-on-primary: oklch(0% 0 0);
  --md-sys-color-primary-container: oklch(78.58% 0.083 250.2);
  --md-sys-color-on-primary-container: oklch(10.74% 0.046 252.12);

  /* Secondary */
  --md-sys-color-secondary: oklch(94.2% 0.024 250.7);
  --md-sys-color-on-secondary: oklch(0% 0 0);
  --md-sys-color-secondary-container: oklch(79.37% 0.03 246.3);
  --md-sys-color-on-secondary-container: oklch(9.44% 0.033 246.01);

  /* Tertiary */
  --md-sys-color-tertiary: oklch(94.19% 0.019 275.98);
  --md-sys-color-on-tertiary: oklch(0% 0 0);
  --md-sys-color-tertiary-container: oklch(78.36% 0.074 276.62);
  --md-sys-color-on-tertiary-container: oklch(8.65% 0.081 278.43);

  /* Error */
  --md-sys-color-error: oklch(94.19% 0.025 31.52);
  --md-sys-color-on-error: oklch(0% 0 0);
  --md-sys-color-error-container: oklch(78.67% 0.081 30.82);
  --md-sys-color-on-error-container: oklch(11.19% 0.053 28.5);

  /* Background & Surface */
  --md-sys-color-background: oklch(13.43% 0.015 253.94);
  --md-sys-color-on-background: oklch(90.15% 0.007 253.11);
  --md-sys-color-surface: oklch(13.43% 0.015 253.94);
  --md-sys-color-on-surface: oklch(100% 0 0);
  --md-sys-color-surface-variant: oklch(36.19% 0.012 254.5);
  --md-sys-color-on-surface-variant: oklch(100% 0 0);
  --md-sys-color-outline: oklch(94.27% 0.009 253.48);
  --md-sys-color-outline-variant: oklch(79.03% 0.009 254.83);
  --md-sys-color-shadow: oklch(0% 0 0);
  --md-sys-color-scrim: oklch(0% 0 0);

  /* Inverse */
  --md-sys-color-inverse-surface: oklch(90.15% 0.007 253.11);
  --md-sys-color-inverse-on-surface: oklch(0% 0 0);
  --md-sys-color-inverse-primary: oklch(36.21% 0.081 251.29);

  /* Fixed Colors */
  --md-sys-color-primary-fixed: oklch(89.34% 0.043 249.71);
  --md-sys-color-on-primary-fixed: oklch(0% 0 0);
  --md-sys-color-primary-fixed-dim: oklch(79.79% 0.086 250.05);
  --md-sys-color-on-primary-fixed-variant: oklch(12.33% 0.055 251.81);
  --md-sys-color-secondary-fixed: oklch(89.5% 0.03 246.39);
  --md-sys-color-on-secondary-fixed: oklch(0% 0 0);
  --md-sys-color-secondary-fixed-dim: oklch(80.57% 0.03 246.34);
  --md-sys-color-on-secondary-fixed-variant: oklch(12.18% 0.035 245.9);
  --md-sys-color-tertiary-fixed: oklch(89.57% 0.044 276.55);
  --md-sys-color-on-tertiary-fixed: oklch(0% 0 0);
  --md-sys-color-tertiary-fixed-dim: oklch(79.6% 0.076 276.54);
  --md-sys-color-on-tertiary-fixed-variant: oklch(11.23% 0.074 278.07);

  /* Containers & Dimming */
  --md-sys-color-surface-dim: oklch(13.43% 0.015 253.94);
  --md-sys-color-surface-bright: oklch(37.52% 0.012 254.55);
  --md-sys-color-surface-container-lowest: oklch(0% 0 0);
  --md-sys-color-surface-container-low: oklch(19.26% 0.014 254.17);
  --md-sys-color-surface-container: oklch(25.99% 0.01 254.19);
  --md-sys-color-surface-container-high: oklch(30.65% 0.012 254.4);
  --md-sys-color-surface-container-highest: oklch(36.19% 0.012 254.5);
}
