.dark {
  /* Primary & Accents */
  --md-sys-color-primary: oklch(79.79% 0.086 250.05);
  --md-sys-color-surface-tint: oklch(79.79% 0.086 250.05);
  --md-sys-color-on-primary: oklch(25.32% 0.091 247.78);
  --md-sys-color-primary-container: oklch(35.59% 0.081 248.8);
  --md-sys-color-on-primary-container: oklch(89.34% 0.043 249.71);

  /* Secondary */
  --md-sys-color-secondary: oklch(80.57% 0.03 246.34);
  --md-sys-color-on-secondary: oklch(27.42% 0.03 246.12);
  --md-sys-color-secondary-container: oklch(35.88% 0.029 246.22);
  --md-sys-color-on-secondary-container: oklch(89.5% 0.03 246.39);

  /* Tertiary */
  --md-sys-color-tertiary: oklch(79.6% 0.076 276.54);
  --md-sys-color-on-tertiary: oklch(26.24% 0.089 275.32);
  --md-sys-color-tertiary-container: oklch(34.81% 0.076 275.46);
  --md-sys-color-on-tertiary-container: oklch(89.57% 0.044 276.55);

  /* Error */
  --md-sys-color-error: oklch(80.61% 0.084 30.7);
  --md-sys-color-on-error: oklch(24.6% 0.125 28.5);
  --md-sys-color-error-container: oklch(30.41% 0.141 27.87);
  --md-sys-color-on-error-container: oklch(91.73% 0.04 31.02);

  /* Background & Surface */
  --md-sys-color-background: oklch(13.43% 0.015 253.94);
  --md-sys-color-on-background: oklch(90.15% 0.007 253.11);
  --md-sys-color-surface: oklch(13.43% 0.015 253.94);
  --md-sys-color-on-surface: oklch(90.15% 0.007 253.11);
  --md-sys-color-surface-variant: oklch(36.19% 0.012 254.5);
  --md-sys-color-on-surface-variant: oklch(80.59% 0.01 254.67);
  --md-sys-color-outline: oklch(61.27% 0.008 254.58);
  --md-sys-color-outline-variant: oklch(36.19% 0.012 254.5);
  --md-sys-color-shadow: oklch(0% 0 0);
  --md-sys-color-scrim: oklch(0% 0 0);

  /* Inverse */
  --md-sys-color-inverse-surface: oklch(90.15% 0.007 253.11);
  --md-sys-color-inverse-on-surface: oklch(25.99% 0.01 254.19);
  --md-sys-color-inverse-primary: oklch(43.83% 0.082 251.48);

  /* Fixed Colors */
  --md-sys-color-primary-fixed: oklch(89.34% 0.043 249.71);
  --md-sys-color-on-primary-fixed: oklch(15.71% 0.068 251.25);
  --md-sys-color-primary-fixed-dim: oklch(79.79% 0.086 250.05);
  --md-sys-color-on-primary-fixed-variant: oklch(35.59% 0.081 248.8);
  --md-sys-color-secondary-fixed: oklch(89.5% 0.03 246.39);
  --md-sys-color-on-secondary-fixed: oklch(18.49% 0.027 246.06);
  --md-sys-color-secondary-fixed-dim: oklch(80.57% 0.03 246.34);
  --md-sys-color-on-secondary-fixed-variant: oklch(35.88% 0.029 246.22);
  --md-sys-color-tertiary-fixed: oklch(89.57% 0.044 276.55);
  --md-sys-color-on-tertiary-fixed: oklch(15.42% 0.085 277.63);
  --md-sys-color-tertiary-fixed-dim: oklch(79.6% 0.076 276.54);
  --md-sys-color-on-tertiary-fixed-variant: oklch(34.81% 0.076 275.46);

  /* Containers & Dimming */
  --md-sys-color-surface-dim: oklch(13.43% 0.015 253.94);
  --md-sys-color-surface-bright: oklch(29.17% 0.012 254.34);
  --md-sys-color-surface-container-lowest: oklch(10.74% 0.016 253.33);
  --md-sys-color-surface-container-low: oklch(17.38% 0.014 254.12);
  --md-sys-color-surface-container: oklch(19.26% 0.014 254.17);
  --md-sys-color-surface-container-high: oklch(23.47% 0.013 254.26);
  --md-sys-color-surface-container-highest: oklch(28.16% 0.012 254.32);
}
